<div class="home-dashboard">

  <div class="home-dashboard-landing">
    <div class="home-dashboard-header">
      <div class="logo-white">
      </div>
      <div class="icon-my-profile">
      </div>
    </div>
  </div>

  <div class="home-dashboard-requests">
    <div class="home-dashboard-requests-title">
    </div>

    <div class="home-dashboard-requests-cards">
      <div class="home-dashboard-requests-card">
        <div class="home-dashboard-requests-card-infos">
          <div class="home-dashboard-requests-card-avatar">
          </div>
          <div class="home-dashboard-requests-card-name-activity">
            <div class="home-dashboard-requests-card-name">
            </div>
            <div class="home-dashboard-requests-card-activity">
            </div>
          </div>
        </div>
        <div class="home-dashboard-requests-card-status">
        </div>
      </div>
    </div>
  </div>

  <div class="long-button-gold sticky-bottom">
  <%# Le bouton doit reprendre le bouton long couleur gold et avoir un comportement sticky d'où la deuxième classe %>
  </div>

</div>
