.activity_card {
  text-align: center;
  position: relative;
  height: 12rem;
  width: 100%;
  border-radius: 20px;
  background-size: cover;
  background-position: bottom;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: grid;
  place-content: center;
  margin-bottom: 1.5rem;

  h2 {
    text-align: center;
    color: white;
    font-weight: bold;
  }
}

.activities_header {
  text-align: center;
}

#logo-black {
  text-align: center;
}

body {
  background-color: #FDF7F1;
}
