.activity_img {
  position: relative;
}

// .activities_cards {
//   height: 216px;
//   width: 346px;
//   border-radius: 20px;
// }

.activity_img {
  text-align: center;
  h2 {
    text-align: center;
  }
}

.activity_img img {
  height: 216px;
  width: 346px;
  border-radius: 20px;
}
