.home-dashboard {
  width: 100vh;
  height: 100vh;
}

.home-dashboard-background {
  width: 100%;
  img{
    object-fit: fill;
    width: 100%;
    // Il faut ajouter un gradient black


  }
}

.home-dashboard-header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.icon-my-profile {
  display: grid;
  place-content: center;
}

.home-dashboard-requests {
  margin: 0 20px;
}
