.home-dashboard {
  width: 100vh;
  height: 100vh;
  background-color: #FDF7F1;
  // Couleur pas sur toute la page pourquoi ?
}

.home-dashboard-background {
  width: 100%;
  img{
    object-fit: fill;
    width: 100%;
    // Il faut ajouter un gradient black

  }
}

.home-dashboard-header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  // Comment mettre le texte sur le background
}

.icon-my-profile {
  display: grid;
  place-content: center;
}

.home-dashboard-requests {
  margin: 0 20px;
}


.home-dashboard-requests-card {
  display: flex;
  justify-content: space-between;
  background: #FFFFFF;
  // couleur à variabiliser selon l'état
  border: 3px solid #E3A96D;
  border-radius: 6px;
  height: 60px;
}

.home-dashboard-requests-card-name {
  display: grid;
  place-content: center;
}

.home-dashboard-requests-card-activity {
  color: #E3A96D;
}

.home-dashboard-requests-card-infos {
  display: flex;
}

.home-dashboard-requests-card-name-activity {
  display: grid;
  place-content: center;
  padding: 0 10px;
}

.home-dashboard-requests-card-status {
  display: grid;
  place-content: center;
  padding-right: 7px;
}


.sticky-bottom {
  position: sticky;
  bottom: 10px;
  // Marche pas
}
