.search-input {
  padding: 1rem;

  h4 {
    margin: 1rem 0;
  }
}

.form-control{
  border-radius: 1rem;
  border: 0.06rem solid $gold;
}

.picked-languages,
#picked-city,
.picked-genders,
.chosen-age,
.picked-hobbies {
  margin-bottom: 2rem;
}

.picked-languages .displayed-languages {
 grid-gap: 1rem;
}

.picked-genders .displayed-genders {
 grid-gap: 1rem;
}

.picked-hobbies .displayed-hobbies {
 grid-gap: 1rem;
}

.displayed-age {
  display: flex;
  justify-content: space-between;
  align-items: center;

  span {
    padding: .5rem 1rem;
    background-color: white;
    border-radius: 1rem;
    border: 2px solid $gold;
    min-width: 3.5rem;
  }

  #age_display_begin {
    margin-right: 1rem;
  }

  #age_display_end {
    margin-left: 1rem;
  }

}

.slider.slider-horizontal {
  width: -webkit-fill-available;

  .slider-track {
    background: white;
  }

  .slider-selection {
    background: rgba($gold, .2);
  }
  .slider-handle {
    background: $gold;
  }
}

.pages-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-left: 1rem;
  padding-right: 0.5rem;
}

// En attendant de mettre du JS pour le slider de l'age

.age-pill input{
  background: white;
  border: 0.13rem solid rgba(227, 169, 109, 0.2);
  border-radius: 1.25rem;
  width: 5.63rem;
  margin: 0.5rem;
}
