.guide-profile {
  text-align: center;
  overflow-wrap: break-word;
  padding: 0 1rem;
}

.address, .gender {
  margin-left: 2rem;
}

.send-button-container {
  display: flex;
  justify-content: center;
}

.guide-profile-button-send .btn {
  background-color: black;
  color: white;
}

.guide-age {
  display: flex;
  justify-content: center;
}

.orange-background {
  background-color: $gold;
  height: 8rem;
  width: 85%;
  border-radius: 1rem;
  margin: 1rem auto 0 auto;
}

.place-avatar-profile {
  margin-top: - 6.5rem;
}

.profile-photo {
  display: flex;
  justify-content: center;
}
