.guide-profile {
  text-align: center;
  overflow-wrap: break-word;
  padding: 0 1rem;
}

.address, .gender {
  margin-left: 2rem;
}

.send-button-container {
  display: flex;
  justify-content: center;
}

.guide-profile-button-send .btn {
  background-color: black;
  color: white;
}

.guide-age {
  display: inline
}
