.search-input {
  padding: 3rem;
}

.form-control{
  border-radius: 1rem;
  border: 1px solid #E3A96D;
}

.pages-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
}
