.search-input {
  padding: 1rem;
  h4 {
    margin-top: 1rem;
  }
}

.form-control{
  border-radius: 1rem;
  border: 1px solid #E3A96D;
}

.picked-languages,
#picked-city,
.picked-genders,
.chosen-age,
.picked-hobbies {
  margin-bottom: 2rem;
}

.pages-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
}

.form-checkbox {
  position: absolute;
  transform: scale(0);
}

.check-hobbies+label {
  width: 8.5rem !important;
  margin: 0.4rem 0.9rem !important;
}

.form-checkbox+label {
  cursor: pointer;
  background: #FFFFFF;
  border: 2px solid rgba(227, 169, 109, 0.2);
  border-radius: 20px;
  width: 6rem;
  margin: 0.3rem;
  display: grid;
  place-content: center;
  padding: .5rem;
}

.form-checkbox:checked+label {
  background: #FFFFFF;
  border: 2px solid #E3A96D;
  border-radius: 20px;
}

.displayed-languages, .displayed-genders, .displayed-hobbies {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

// En attendant de mettre du JS pour le slider de l'age

.age-pill input{
  background: #FFFFFF;
  border: 2px solid rgba(227, 169, 109, 0.2);
  border-radius: 20px;
  width: 90px;
  margin: 0.5rem;
}
