<div class="container">
  <div class="activities_header">
    <h1>What are you up to?</h1>
  </div>

  <div class="activities_cards">
    <% @explorer_activities.each do |explorer_activity| %>

      <div class="activity_img">
        <%= image_tag "activities/#{explorer_activity.parameterize}.jpg"  %>
        <%= link_to explorer_activity, new_explorer_matching_path(activity: explorer_activity) %>
        <div class="activity_name">
          <h2><%= explorer_activity %></h2>
        </div>
      </div>
    <% end %>
  </div>
</div>
