<div class="container-home-visitor">

  <div class="home-visitor-header">
    <div id="logo-white">

    </div>
    <div class="home-visitor-slogan">

    </div>
  </div>

  <div class="home-visitor-buttons">
    <div class="home-visitor-button-login">
    </div>

    <div class="home-visitor-button-signup">
    </div>
  </div>

</div>
