<div class="container-home-visitor">

  <div class="home-visitor-header">
    <div class="logo-white">
      <%= image_tag("logos/logo-blanc.svg", alt:"logo de matematch écrit en blanc")%>
    </div>
    <div class="home-visitor-slogan">
      <p>Share local experiences</p>
    </div>
  </div>

  <div class="home-visitor-buttons">
    <div class="home-visitor-button-login">
      <p>Log in</p>
    </div>

    <div class="home-visitor-button-signup">
      <p>Sign up</p>
    </div>
  </div>

</div>
