<div class="container-home-visitor">

  <div class="home-visitor-header">
    <div class="logo-black">
      <%= image_tag("logos/logo-noir.svg", alt:"logo de matematch écrit en noir")%>
    </div>
    <div class="home-visitor-slogan">
      <p>Share local experiences</p>
    </div>
  </div>

  <div class="home-visitor-buttons">
    <div class="long-button-black">
      <%= link_to "Log in", new_user_session_path%>
    </div>

    <div class="home-visitor-button-signup">
      <p>Sign up</p>
    </div>
  </div>

</div>
