<div class="container-home-visitor">

  <div class="home-visitor-header">
    <div class="logo-blanc">
      <%= image_tag("logos/logo-blanc.svg", alt:"logo de matematch écrit en blanc")%>
    </div>
    <div class="home-visitor-slogan">
      <p>Share local experiences</p>
    </div>
  </div>

  <div class="home-visitor-buttons">
    <div class="long-button-black">
      <%= link_to "Log in", new_user_session_path%>
    </div>

    <div class="long-button-gold">
      <%= link_to "Sign Up", new_user_session_path%>
    </div>
  </div>

</div>
