.avatar-profile {
  img {
    width: 12.5rem;
    height: 12.5rem;
    border-radius: 50%;
    border: 0.19rem solid white;
    object-fit: cover;
  }
}
.avatar-guide {
  img{
    width: 5.31rem;
    height: 5.31rem;
    border-radius: 50%;
    object-fit: cover;
  }
}
.avatar-request{
  img {
    object-fit: cover;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
  }
}
