.long-button-gold {
  width: 200px;
  height: 40px;
  border-radius: 8px;
  background-color: #E3A96D;
  display: grid;
  place-content: center;
  font-weight: bolder;
  margin: 0 auto;

  a {
    text-decoration: none;
    color: white;
    width: inherit;
    height: inherit;
    text-align: center;
    display: grid;
    place-content: center;
  }
}

.long-button-black {
  width: 200px;
  height: 40px;
  border-radius: 8px;
  background-color: black;
  display: grid;
  place-content: center;
  font-weight: bolder;

  a {
    text-decoration: none;
    color: white;
    width: inherit;
    height: inherit;
    text-align: center;
    display: grid;
    place-content: center;
  }
}

.next-page button{
  border:0;
  background:none;
  color: #E3A96D;
  font-size: 3rem;
}

.previous-page {
  i {
  color: #E3A96D;
  font-size: 3rem;
  }
}


.gold-pill {
  background-color: #E3A96D;
  border-radius: 10px;
  color: black;
  font-size: 12px;
}

.checkbox-button {
  cursor: pointer;
  background: #FFFFFF;
  border: 2px solid rgba(227, 169, 109, 0.2);
  border-radius: 20px;
  width: 95px;
  margin: 0.5rem;
  .label-checkbox{
    display: grid;
    place-content: center;
  }
}

.checkbox-button:checked {
  background: #FFFFFF;
  border: 2px solid #E3A96D;
  border-radius: 20px;
}
