.long-button-gold {
  text-align: center;
  width: 200px;
  height: 40px;
  border-radius: 8px;
  color: white;
  background-color: #E3A96D;
;
  a {
    text-decoration: none;
  }
}

.long-button-black {

}
