// Long button
.long-button-gold {
  width: 60vw;
  height: 2.5em;
  border-radius: 0.5rem;
  background-color: $gold;
  display: grid;
  place-content: center;
  font-weight: bolder;
  margin: 0 auto;

  a {
    text-decoration: none;
    color: white;
    width: inherit;
    height: inherit;
    text-align: center;
    display: grid;
    place-content: center;
  }
}

.long-button-black {
  width: 60vw;
  height: 2.5rem;
  border-radius: 0.5rem;
  background-color: black;
  display: grid;
  place-content: center;
  font-weight: bolder;

  a {
    text-decoration: none;
    color: white;
    width: inherit;
    height: inherit;
    text-align: center;
    display: grid;
    place-content: center;
  }
}

.long-button {
  width: 60vw;
  font-weight: bolder;

  .guide-profile-button-send .btn {
    width: 60vw;
    height: 2.5rem;
    border-radius: 0.5rem;
    background-color: black;
    margin-bottom: 2rem;
    font-weight: bolder;
    color: white;
  }
}

.sign-up-long-button-gold {
  width: 60vw;
  height: 2.5em;
  border-radius: 0.5rem;
  background-color: $gold;
  font-weight: bolder;
  margin: 0 auto;

  a {
    text-decoration: none;
    color: white;
    width: inherit;
    height: inherit;
    text-align: center;
    display: grid;
    place-content: center;
  }
}

.log-in-long-button-black {
  width: 60vw;
  height: 2.5em;
  border-radius: 0.5rem;
  background-color: black;
  font-weight: bolder;
  margin: 0 auto;

  a {
    text-decoration: none;
    color: white;
    width: inherit;
    height: inherit;
    text-align: center;
    display: grid;
    place-content: center;
  }
}

// Boutons de navigation
// ------------------------Next page--------------------------
.next-page button{
  border: 0;
  background: none;
  color: $gold;
  font-size: 3rem;
  margin-bottom: 2rem;
}
// ------------------------Previous page---------------------------

.fa-arrow-left {
  color: $gold;
  font-size: 1.5rem;
}

.arrow-white {
  color: white;
}

.upper-back-arrow {
  font-weight: lighter;
  padding: 1.5rem 0 0 1.5rem;
}


// Pillules des hobbies------------------------------------------------------

.gold-pill {
  background-color: $gold;
  border-radius: 0.63rem;
  color: white;
  font-size: 0.75rem;
  letter-spacing: 1px;
  font-weight: bolder;
}

// Button devise
.button-devise-login {
  width: 60vw;
  height: 2.5rem;
  border-radius: 0.5rem;
  background-color: black;
  color: white;
  display: grid;
  place-content: center;
  font-weight: bolder;
  text-decoration: none;
  text-align: center;
  margin: 0 auto;
}

.log-in-form a {
  color: $gold;
}
