.icon-my-profile {
  i {
    color: white;
    font-size: 1.88rem;
  }
}


// Icon de statuts dans les cards du Dashboard explorer
.fa-check {
  color: white;
}
.fa-times{
  color: white;
}
.fa-hourglass{
  color: white;
}

.fa-check-circle {
  color: $gold;
}


.icon-request{
  width: 1.88rem;
  height: 1.88rem;
  border-radius: 50%;
  background-color: $gold;
  opacity: 50%;
  display: grid;
  place-content: center;
}



.fa-map-marker-alt {
  color: $gold;
}

.fa-user {
  color: $gold;
}

// Icon genders
.fa-mars, .fa-venus, .fa-venus-mars {
  font-size: 1.3rem;
}
