.icon-my-profile {
  i {
    color: white;
    font-size: 30px;
  }
}


// Icon de statuts dans les cards du Dashboard explorer
.fa-check {
  color: white;
}
.fa-times{
  color: white;
}
.fa-hourglass{
  color: white;
}


.icon-request{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: $gold;
  opacity: 50%;
  display: grid;
  place-content: center;
}

// Icon flèche de retour
.fa-arrow-left {
  color: #E3A96D;
  font-size: 24px;
}

.fa-map-marker-alt {
  color: #E3A96D;
}

.fa-user {
  color: #E3A96D;
}

.fa-mars, .fa-venus, .fa-venus-mars {
  font-size: 1.3rem;
}
