<i class="fas fa-arrow-left"></i>

<% @matchings.each do |matching| %>
  <%= matching.first_name %>
  <% end %>




<div class="index-guides">

  <div class="index-guides-header-cards">
    <div class="index-guides-header">

    </div>

    <div class="index-guides-cards">
      <div class="index-guides-card">
        <div class="index-guides-card-avatar">
        </div>

        <div class="index-guides-card-infos">
          <div class="index-guides-card-infos-name">
          </div>
          <div class="index-guides-card-infos-languages">
          </div>
          <div class="index-guides-card-infos-hobbies">
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
