<div class="container-guide-profile">

  <div class="guide-profile">
    <div id="profile-photo">

    </div>
    <div class="guide-bio">

    </div>
  </div>



  <div class="city">

  </div>

  <div class="gender">

  </div>

  <div class="guide-profile-button-send">
    <p>Send a request</p>
  </div>

</div>
